.App {
  text-align: center;
  margin: 15% 0%;
}
.carousel-caption {
  position: sticky;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #b52f2f;
  text-align: center;
}
.carousel-item {
  position: inherit;
  display: contents;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: blueviolet;
}